---
layout: default
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr>
  <br>
  {%- assign author_key = page.author | default: site.author -%}
  {%- assign author_data = site.data.authors[author_key] -%}
  {%- if author_data -%}
  <footer class="post-author">
    <div class="author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <p class="author-name p-author" itemprop="name">Autor: {{ author_data.name }}</p>
      {%- if author_data.url -%}
        <p class="author-link"><a href="{{ author_data.url }}" itemprop="url">Github profil autora</a></p>
      {%- endif -%}
      {%- if author_data.bio -%}
        <p class="author-bio" itemprop="description">{{ author_data.bio }}</p>
      {%- endif -%}
    </div>
  </footer>
  {%- elsif author_key -%}
  <footer class="post-author">
    <div class="author h-card" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <p class="author-name p-author" itemprop="name">{{ author_key }}</p>
      {%- if page.author_url or site.author_url -%}
        <p class="author-link"><a href="{{ page.author_url | default: site.author_url }}" itemprop="url">Profil autora</a></p>
      {%- endif -%}
      {%- if page.author_bio or site.author_bio -%}
        <p class="author-bio" itemprop="description">{{ page.author_bio | default: site.author_bio }}</p>
      {%- endif -%}
    </div>
  </footer>
  {%- endif -%}

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<hr>

{% include post-navigation.html %}